
@mixin unstyle-list {
	list-style-type: none;
	padding-left: 0;
}


// Header

.header {
	&.-site {
		background-color: $color-rotate-bkgd;
		position: fixed;
		width: 100%;
		z-index: $z-top;
		top: 0;
	}
}

.logo-text-logo {
	// fill: $color-accent-med;
	padding-top: $size-h4;
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: $size-h1*6; 
}

.banner {
	// height: 90vh;
}

.banner-img {
	position: fixed;
}


// Titles

.title {
	&.-site {
		margin-top: 0;
		text-align: center;

		a {
			font-weight: 100;
			font-size: $size-h3;
			text-transform: uppercase;
			color: $color-rotate-text;
		}
	}
}



// Navigation

.nav {
	&.-site {
		@include contain(lg);
	}
}

.nav-list {
	@include unstyle-list;

	// Logic for opening/closing nav
	max-height: 0;
	overflow: hidden;
	
	@include bp(md) {
		max-height: none;
	}

	&.open {
		max-height: $screen-sm;
	}
	
	&.-site {
		@include bp(md) { 
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}

#navOpenLink {
	text-align: center;
	@include bp(md) {
		display: none;
	}
}

.nav-item {
	font-family: $font-nav;
	&.-site {
		@include bp(md) { 
			flex: 1; 
			text-align: center;
		}
	}
}

.nav-item-link,
.subnav-item-link {	
	font-size: $size-sml;
	@include upperspace;
	color: $color-rotate-text;	
	&:hover,
	&:focus {
		color: $color-accent-med;
	}
}
	

.has-subnav 
.icon-arrow-down {
	display: inline-block;
	position: relative;
	top: $size-xsml/2;
	fill: $color-accent-med;
}

.subnav-list {
	@include unstyle-list;
	overflow: hidden;
	
	@include bp(md) {
		position: absolute;
		background-color: $color-accent-med;
	}
	
	&.-site {
		max-height: 0;

		.has-subnav.open & {
			max-height: none;
		}
	}
}



// Teases

.tease {

}

.tease-title {
	&.-project {

	}
}

.tease-info {
	
}


// Footer

.footer {
	&.-site {
		background-color: $color-accent-med;
	}
}

.footer-wrap {
	@include bp(md) { 
		@include grid; 
		justify-content: center;
		align-items: center;
	}
}

.footer-section {
	&.-colophon {
		flex: 3 0 50%;
	}
}

.social-list {
	@include unstyle-list;
	@include grid;
}

.social-item {
	@include cell;
	.icon {
		fill: $color-accent-light;
	}
}

.colophon {
	@include meta($color-text-light);
	a {
		color: $color-accent-light;
		text-decoration: underline;

		&:hover {
			color: darken($color-accent-light, 20%);
		}
	}
}

