// Button
@mixin button( $button-color, $text-color: $white ) {
    background: $button-color;
    font-weight: 700;
    color: $text-color;
    
    &:hover,
    &:focus {
        background: darken( $button-color, 10% );
        color: $text-color;
    }

    &:active {
        background: darken( $button-color, 40% );
    }
}

.btn {
    display: inline-block;
    padding: $size-xsml $size-base;
    margin-top: $size-sml;
    margin-bottom: $size-sml;
    font-size: $size-sml;
    font-family: $font-btn;
    @include upperspace;


    &.-readmore {
        @include button($color-body-bkgd, $text-color: $color-body-text);
        border: 1px solid $color-body-text;
    }

    &.-danger {
        @include button($color-alert-danger);
    }

    &.-success {
        @include button($color-alert-success);
    }

    &.-warning {
        @include button($color-alert-warning);
    }

    &.-submit {
        border: 0;
        @include button($color-accent-med);
    }

}

