

// -----
// Form styles
// -----

// Replace blue chrome outline with something nicer
*:focus {
    outline: thin dotted $color-accent-vlight;
}

label, select {
	// display: block;
}

label {
	// margin-top: $size-h4;
	margin-bottom: $size-xsml;
	font-family: $font-form;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"] {
	padding: $size-xsml $size-sml;
	width: 100%;
	border: 1px solid $color-accent-vlight;
	background-color: $color-table-rotate;
	transition: 0.15s ease all;

	&:focus {
		border-color: $color-accent-light;
		background-color: $color-body-bkgd;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-right: $size-xsml;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
}

input[type="submit"],
button {
}


select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $border-accent;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

fieldset {
	border: 0;
	padding: 0;
}




// Formidable

.frm_ajax_loading {
	display: none;
}

// ----
// Wishlist
// ----

// On Single Piece
.form-status {
	&.-wishlist {
		@include detail-compliment;
		margin-left: $size-xsml;
		color: $color-accent-med;
		opacity: 0;
	}
}

// Concierge

.frm_forms {
	font-size: $size-sml;
}

.frm_primary_label {
	@include meta;
    @include upperspace;
    display: inline-block;
    font-weight: $font-weight-strong;
    margin-top: $size-base;
}

.frm_required {
	color: $color-link;
}

.frm_submit {
	@include clearfix;
	input[type="submit"] {
		@extend .btn;
		float: right;
        border: 0;
		@include button($color-accent-med);
	}
}

.frm_hidden_container label {
	@media(max-width: 600px) {
		margin-top: 0;
	}
}

.wishlist-fill {
	// display: none;
}

.edit-quantity-form {
	width: 100%;

	@include bp(md) {
		display: inline-block;
		float: right;
	}

	& > input[type=radio] {
		opacity: 0;
		width: 0;
		height: 0;
		margin: 0;
	}

	& > label {
		display: inline-block;
		float: right;
		margin-right: $size-xsml;
		margin-bottom: 0;
		padding-left: 3px;
		padding-right: 3px;
		cursor: pointer;
		@include meta($color: $color-rotate-text, $margin: true);	
	}
}

.edit-label {
	background-color: $color-alert-info;
}

// .expects-save {
// 	background-color: $color-alert-warning;
// }

.remove-label {
	background-color: $color-alert-danger	
}

// .edit-quantity-field {
// 	display: inline-block;
// 	text-align: center;
// 	max-width: 70px; 
// }

.row-removed {
	font-style: italic;
	text-decoration: line-through;
	background-color: $color-table-rotate;
	color: $color-accent-light;
}

.save-changes {
	display: none;
	@include clearfix;
	
	.btn {
		float: right;
	}
}

// .editing-update {
// 	color: red;
// }

// #isEditing {
// 	display: none;
// }

.quantity-select {
	display: none;
}



// ---
// Search
// ---

.search-form {
	background-color: transparent;
	border: none;
	text-align: left;
	
	@include meta($color-rotate-text);

	&:focus,
	.search & {
		width: auto;
	}
}

.search-label {
	margin-top: $size-xsml;
	margin-bottom: 0;
	border-right: $border-accent-light;
	padding-right: $size-xsml/2;
	width: $size-h4;
}

.search-icon {
	fill: $color-accent-light;
	max-width: $size-sml;
}

.search-submit {
	@include visually-hidden;
}

.search-field {
	width: 60%; // Magic number alert
	font-family: $font-body;
	background-color: $color-rotate-bkgd;
	border: 0;
	padding: $size-xsml;
	
	@include bp(sm) {
		max-width: $size-h1*2;
	}
}
