
table {
    width: 100%;
    font-family: $font-form;
    margin-bottom: $size-h3;
    margin-top: $size-h3;
    font-size: $size-sml;

    caption {
        margin: 0 0 7px;
        font-size: $size-xsml;
        color: $color-text-light;
    }
}

tr {
    border-bottom: 1px solid $color-accent-vlight;

    &:nth-child(even) {
        background-color: $color-table-rotate;
    }
}

td {
    padding: $size-xsml;
    border-right: 1px solid $color-accent-vlight;

    &:last-child {
        border-right: 0;
    }
}

th {
    border-bottom: 1px solid $color-accent-light;
    border-right: 1px solid $color-accent-light;
    @include meta;
    @include upperspace;

    &:last-child {
        border-right: 0;
    }
}
