<div class="gallery js-flickity"
   data-flickity-options='{ "lazyLoad": 3, "wrapAround": true, "pageDots": false, "freeScroll": true }'>

	{% for image in gallery %}
	  <img class="gallery-cell-image" data-flickity-lazyload="{{image.url|resize(1200)}}" alt="Slideshow Image" /> 	
	{% endfor %}
</div>
