<div class="gallery js-flickity"
   data-flickity-options='{ "lazyLoad": 1, "wrapAround": true, "pageDots": false }'>

	{% for image in gallery %}
	  <img class="gallery-cell-image" data-flickity-lazyload="{{image.src|resize(1200)}}" alt="Slideshow Image" />
	{% endfor %}
</div>
