<form role="search" method="get" class="search-form" action="{{site.link}}">
	<label class="search-label">
		<span class="visually-hidden">Search For</span>
		{% include 'utility/svg.twig' with { file: 'search', prefix: 'search-icon' } %}
	</label>
	<input type="search" class="search-field" placeholder="Search" value="{{function('get_search_query')}}" name="s" title="Search For" />
	<input type="submit" class="visually-hidden btn -submit search-submit" value="Search" />
</form>