<ul class="widget-list -footer">
	{{widgets}}
	{# TODO: definitely wrote a blog post about making an array for these. Oh well. #}
	
	<li class="widget">	
		{% include 'partials/_social-list.twig' %}
	</li>

</ul>