<ul class="widget-list -footer">
	{{widgets}}
	{# TODO: definitely wrote a blog post about making an array for these. Oh well. #}
	
	<li class="widget -right -sidebar">	
		{% include 'partials/_social-list.twig' %}
		
		<div id="mc_embed_signup">
			<form action="//yulingdesigns.us11.list-manage.com/subscribe/post?u=587eef2e3a0d371c32e2263ad&amp;id=aa6698efb8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
			    <h2>{{subscribe_to_mailchimp}}</h2>
			<div class="mc-field-group">
			    <label for="mce-EMAIL">Email Address</label>
			    <input type="email" placeholder="you@email.com" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
		    <div id="mce-responses" class="clear">
		        <div class="response" id="mce-error-response" style="display:none"></div>
		        <div class="response" id="mce-success-response" style="display:none"></div>
		    </div>
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_587eef2e3a0d371c32e2263ad_aa6698efb8" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			   </div>
			
			</form>
		</div>

		<!--End mc_embed_signup-->
	</li>
</ul>