.accordion-trigger {
	position: relative;
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		right: 1%;
		top: 50%;
		transform: rotate(180deg);
		transition: 0.25s ease all;
		height: $size-xsml;
		width: $size-xsml;
		background: url(../img/svg-min/arrow-up.min.svg) center no-repeat;
	}

	&.active {
		&:after {
			transform: rotate(0);
		}
	}
}

.accordion-target {
	max-height: 0;
	overflow: hidden;
}