
// ----
// ---- Screen sizes
// ----

$screen-sm:     35em;
$screen-md:     40em;
$screen-lg:   	57em;
$screen-xl:     70em;


// ----
// ---- Colors
// ----

$white: 			#FFFFFF;
$black: 			#000000;
$grey: 				#E6E6E3;
$gold: 				#916300;
$pink: 				#B83074;

$blue: 				#1C7FA6;
$l-teal: 			desaturate(#BDF2E3, 10%);
$green: 			#1BBF54;
$l-green: 			#D9F2A2;


// Semantic variable names

// Color Scheme
$color-accent-dark:		$pink;
$color-accent-med:		$gold;
$color-accent-light:	$grey;
$color-accent-vlight:	lighten($color-accent-light, 10%);

// Alerts
$color-alert-danger: 	lighten($l-green, 40%);
$color-alert-warning: 	$color-accent-light;
$color-alert-info: 		$blue;
$color-alert-success: 	$green;

// Text colors
$color-text-dark: 		$black;
$color-text-med: 		$grey;
$color-text-light: 		$white;

// Links
$color-link:			$pink;
$color-link-hover: 		darken($color-link, 20%);
$color-link-active: 	darken($color-link, 40%);

// Body
$color-body-bkgd: 		$white;
$color-body-text: 		$color-text-dark;

// Calls to action - TODO: too much?
$color-cta-bkgd: 		$gold;
$color-cta-text: 		$white;
$color-cta-link: 		$grey;

$color-table-rotate: 	lighten($color-accent-light, 50%);

// Rotate
$color-rotate-bkgd: 	$color-body-text;
$color-rotate-text: 	$color-body-bkgd;


// ----
// ---- Size Scale 
// ----

// Rem Unit Scale

$size-contain-lg: 	110%;
$size-contain-md: 	105%;
$size-contain-sm: 	95%;
$size-contain: 		90%;

$size-base:  		1.1rem;

$size-xsml: 		$size-base*0.6;
$size-sml:  		$size-base*0.75;

$size-h1:  			$size-base*2.5;
$size-h2:  			$size-base*2.3;
$size-h3:  			$size-base*1.8;
$size-h4:  			$size-base*1.3;
$size-h5:  			$size-base*1.1;
$size-h6:  			$size-sml;



// ----
// ---- Typography 
// ----

$serif:				'ltc-bodoni-175', 'Georgia', serif;
$sans-serif:		'source-sans-pro', sans-serif;

$line-height-base: 	1.5;
$line-height-sm: 	1.3;

$font-heading: 		$serif;
$font-body: 		$sans-serif;
$font-nav: 			$serif;
$font-form: 		$sans-serif;
$font-lead: 		$sans-serif;
$font-btn:	 		$serif;

$font-weight-heading: 	300;
$font-weight-base: 		300;
$font-weight-strong: 	500;




// ----
// ---- Utilities 
// ----

$border-accent: 	1px solid $color-accent-med;
$border-accent-light: 	1px solid $color-accent-light;

// Z-Index Scale
$z-base: 			1;
$z-back: 			$z-base+1;
$z-mid: 			$z-base+2;
$z-top: 			$z-base+3;

