{% extends "base.twig" %}

{% block content %}
	<div class="contain--sm text-center">
		<h1>Whoops!</h1>
		<p>We couldn't find what you're looking for. Please try searching, or feel free to get in touch if you think this is a problem with our website.</p>
	</div>
{% endblock %}