{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}} wf-loading" data-template="base.twig" id="pageTop">
        
        <div class="visually-hidden">{% include 'views/utility/svg-defs.svg' %}</div>

        {% block header %}
            {% include 'headers/_header-site.twig' with { class: '-site', role: 'banner' } %}
        {% endblock %}  
        
        <main class="main -site" role="main">

            <div class="content -site">

                {% block before_content %}{% endblock %}

                {% block content %}
                    Sorry, no content
                {% endblock %}%}

                {% block after_content %}{% endblock %}

            </div>

            {% if sidebar %}
                <aside class="sidebar -site">
                    {{sidebar}}
                </aside>
            {% endif %}

        </main>

        {% block footer %}
            {% include 'footers/_footer-site.twig' with { class : '-site' } %}   
            {{ function('wp_footer') }}
        {% endblock %}

    </body>
</html>
