
// TODO: move this to child theme

.tease-title {
	font-size: $size-base;
	@include upperspace;
	font-weight: $font-weight-base;

	a {
		color: $color-text-med;
	}
}

.tease-title,
.tease .icon {
	display: inline-block;
}


@import 'tease-post';
@import 'tease-project';