{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}
	<div class="contain--md">
		<h1 class="text-center">{{title}}</h1>

		{# {% set display = post.header_display %} #}
		{# <p class="lead lead--header">{{post.header_tagline}}</p> #}
		{# <p class="summary summary--header">{{post.header_summary}}</p> #}
	</div>

  {% if projects_desc %}
    <div class="contain--md archive-desc">
      {{projects_desc|wpautop}}
    </div>
  {% endif %}
{% endblock %}

{% block after_header_content %}{% endblock %}
