{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}
	<div class="contain--md">
		<img src="{{TimberImage(term.featured_image).src|resize(800)}}" alt="{{term.name}} Thumbnail">
	</div>
	<div class="contain--sm text-center">
		<h1>{{term.name}}</h1>
		<p>{{term.description}}</p>
	</div>
	<div class="contain--xl">
		{% include 'partials/_gallery.twig' with { gallery: term.collection_gallery, class: 'collection' } %}
	</div>
{% endblock %}

{% block after_header_content %}{% endblock %}
