{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}
	
	{% include 'partials/_gallery-slider.twig' with { gallery: term.collection_gallery, desc: term.description } %}
	<div class="contain--sm text-center">
		<h1 class="archive-title">{{term.name}}</h1>
		<p class="archive-below-title">{{term.below_title}}</p>
		<p class="archive-desc">{{term.description}}</p>
	</div>

{% endblock %}

{% block after_header_content %}{% endblock %}
