{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}
	<img src="{{TimberImage(term.featured_image).src|resize(800)}}" alt="{{term.name}} Thumbnail">
	<h1>{{term.name}}</h1>
	<p>{{term.description}}</p>	
	<pre>Collection gallery</pre>
	{% include 'partials/_gallery.twig' with { gallery: term.collection_gallery, class: 'collection' } %}
	<hr>
{% endblock %}

{% block after_header_content %}{% endblock %}
