.single-piece,
.single-post,
.page {
	.main {
		padding-top: $size-h2;
	}
}

.has-subnav {
	
	// Ewwwww too much nesting.
	@media(max-width: $screen-md) {
		& > a {
			&:after {
				content: '+';
			}
		}
		
		& > .active {
			&:after {
				content: '-';
			}
		}
	}
}