
// Shameful styles here.


.tax-collection, .single-project {
	.main {
		padding-top: 0;
	}

	.header.-site {
		background-color: rgba($color-rotate-bkgd, 0.85);
	}

	.subnav-wrapper {
		background-color: rgba(lighten($color-rotate-bkgd, 8%), 0.85);
	}
}


// Hack to prevent util nav overlapping main nav items
.nav {
	&.-site {
		//@include contain(lg);
		padding: 0 $size-h1*3;
	}
}