
.single-piece,
.single-post,
.page {
	.main {
		padding-top: $size-h2;
	}
}

.page-template-page-collections {
	.main {
		padding-top: 0;
	}

	.footer {
		margin-top: 0;
	}
}

.has-subnav {
	
	// Ewwwww too much nesting.
	@media(max-width: $screen-md) {
		& > a {
			&:after {
				content: '+';
				padding-left: $size-xsml/2;
				font-size: $size-base;
			}
		}
		
		& > .active {
			&:after {
				content: '-';
			}
		}
	}
}

// .util-cell {
// 	height: $size-h1*1.5;
// }

// .logo-wrap {
// 	@include cell(sixth);
// }

// .logo-text-logo {
// 	margin: 0 auto;
// 	width: 60%;
// 	@include center;
// }






.util-grid {
	display: flex;
	justify-content: center;
	align-items: center;
}

.util-cell {
	font-size: $size-xsml;
	flex: 1;
	
	&.-start {
		display: none;
		@include bp(sm) {
			display: block;
		}
	}
	
	&.-center {
		justify-content: center;
	}
	
	&.-end {
		text-align: right;
	}
}



// Search

.search-form {
	background-color: transparent;
	border: none;
	text-align: left;
	@include meta($color-rotate-text);

	&:focus,
	.search & {
		width: auto;
	}
}

.search-label {
	margin-top: $size-xsml;
	margin-bottom: 0;
	border-right: $border-accent-light;
	padding-right: $size-xsml/2;
	width: $size-h4;
}

.search-icon {
	fill: $color-accent-light;
	max-width: $size-sml;
}

.search-submit {
	@include visually-hidden;
}

.search-wrap {
	// @include bp(md) {
		// float: left;
	// }
}




// .search-icon {
// 	max-width: $size-xsml;
// 	display: inline-block;
// }

// .search-label {
// 	// flex-basis: 100%;
// 	span {
// 		display: none;
// 	}
// }

.search-field {
	// width: 0;
	// opacity: 0;
	font-family: $font-body;
	background-color: $color-rotate-bkgd;
	border: 0;
	padding: $size-xsml;
	max-width: $size-h1*2;
	// /* flex-basis: 100px; */
}

// .search-submit {
// 	// display: none;
// }
