
// Main Archive Styles

.archive-main {
	@include grid;
	
	&.-has-sidebar {
		order: 1;
		@include bp(md) {
			@include cell();
			order: 2;
		}
	}

}

.archive-sidebar {
	@include cell(full);

	@include bp(md) {
		@include cell(sixth, $is_first: false);
	}
}

.archive-title {
	margin-bottom: $size-sml;
}

.archive-desc {
	@include header-fancy-meta;
}

.archive-footer-title {
	@include detail-title();
	font-size: $size-base;
	margin: $size-base*4 0 $size-base;
}

.archive-footer-content {
	@include grid;
}

.page-header {
	&.-collections-archive {
		position: relative;
		height: 100vh;
	}
}

// ----
// All Collections Banner
// ----

.banner {
	height: 85vh;
	padding: $size-h3;
	background-size: cover;
    background-image: url(../img/util/trees-sml.png);
	color: $color-rotate-text;	
	text-align: center;

	@include bp(md) {
		background-image: url(../img/util/trees-med.png);
	}

	@include bp(lg) {
		background-image: url(../img/util/trees-large.png);
	}

	svg {
		fill: white;
	}

}

.banner-wrap {
	align-self: center;
	max-width: $screen-sm;
	padding-top: 10vh;
}

.banner-border {
	@include grid($guttered: false);
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 1px solid $color-accent-med;
	padding-bottom: $size-sml;
}

.banner-title {
	margin-top: 0;
	@include detail-title($border_pos: false, $size: $size-sml);
	font-family: $font-heading;
}

.banner-tagline {
	@include detail-text;
}

.banner-logos {
	margin-bottom: $size-h4;
	
	.wordmark {
		max-width: 10vh;
	}

	.logo {
		max-width: 30vh;
	}
}

.banner-prompt {
	// position: absolute;
	// bottom: 0;
	// width: 100%;
	@include cell(full);
	align-self: flex-end;
	// text-align: center;

	.icon {
		width: $size-base;
		height: $size-base;
	}
}

.banner-prompt-text {
	@include detail-compliment;
	margin-bottom: 0;
}




// ----
// All Collections Detail Module
// ----

// Quote section

.archive-quote {
	pointer-events: none;
	text-align: center;
	background-color: white;
	padding-top: $size-h3;
	padding-bottom: $size-h3;

	// @include bp(md) {
		padding: 0;
		@include grid();
		height: 100vh;

		& > .cell {
			justify-content: center;
			padding-top: 10vh;
			height: 80vh;
		}
		width: 100%;	
		top: 100%;
		// transition: 0.25s all ease;
		left: 0;
	    position: fixed;
	// }

	&.active {
		top: 0;
		pointer-events: all;
		
		& .archive-quote-content {
			opacity: 1;
		}
	}
}

.archive-quote-title {
	@include detail-title($border-pos: false, $size: $size-base);
}

.archive-quote-inner {
	border: 2px solid $color-body-text;
	@include contain(xl);
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.archive-quote-content {

	&.-first {
		transition: 0.25s all ease;
	}

	opacity: 0;
	font-style: normal;
	font-family: $font-heading;
	padding: $size-sml;
	font-size: $size-sml;
	
	@include bp(sm) {
		font-size: $size-base;
	}
	
	@include bp(md) {
	    padding: $size-h3;
		font-size: $size-h3;
	}
	
	margin: $size-base 0; 
	@include upperspace;

	&:before {
		content: "\201C";
	}

	&:after {
		content: "\201D";
	}
}


// Images section

.archive-images {
	position: relative;
	z-index: $z-mid;
	pointer-events: none;

	* {
		pointer-events: none;
	}
	
	// @include bp(md) {
		padding-top: 80vh;
	// }

	img {
		display: block;
		width: 100%;
	}
	
}


// Inspiration Images

.archive-images-inner {
	
	@include bp(sm) {
		@include grid($guttered: false);
	}

	margin: 0;
}

.archive-images-inspiration.-first,
.archive-images-featured {

	@include bp(sm) {
		@include cell($size: half, $guttered: false);
		align-self: flex-end;
	}	
}

.archive-images-inspiration.-second {

	.gallery {
		@include bp(sm) {
			@include cell(half, $guttered: false);
			margin: 0 auto;
		}
	}
}

.archive-images-inspiration.-last {
	background-color: $color-body-bkgd;
	margin-bottom: -$size-h3;
}

// Archive Sidebar

.archive-sidebar {
	order: 1;
}
