
// Main Archive Styles

.archive-main {
	@include grid;
	
	&.-has-sidebar {
		order: 1;
		@include bp(md) {
			@include cell();
			order: 2;
		}
	}
}
	
.archive {
	&.-search {
		@include grid;
	}
}

.archive-sidebar {
	@include cell(full);

	@include bp(md) {
		@include cell(sixth, $is_first: false);
	}
}

.archive-title {
	margin-bottom: $size-sml;
}

.archive-below-title {
	@include header-fancy-meta;
}

.archive-footer-title {
	@include detail-title();
	font-size: $size-base;
	margin: $size-base*4 0 $size-base;
}

.archive-footer-content {
	@include grid;
}

.page-header {
	&.-collections-archive {
		position: relative;
		height: 100vh;
	}
}




// ----
// All Collections Detail Module
// ----

// Quote section

.archive-quote {
	pointer-events: none;
	text-align: center;
	background-color: white;
	padding: 0;
	display: flex;
	flex-direction: column;

	height: 100vh;
	
	& > .cell {
		width: 100%;
		justify-content: center;
		align-items: center;
		padding-top: 10vh;
		flex-direction: column;
		max-height: 95vh;
	}

	width: 100%;	
	top: 100%;
	left: 0;
    position: fixed;

	&.active {
		top: 0;
		pointer-events: all;
		
		& .archive-quote-content {
			opacity: 1;
		}
	}
}

.archive-quote-title {
	@include detail-title($border-pos: false, $size: $size-base);

	@include bp(sm) {
		margin-top: $size-h2;
	}
}

.archive-quote-inner {
	border: 2px solid $color-body-text;
	margin: 0 auto;
	max-width: $screen-xl;

	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.archive-quote-content {

	&.-first {
		transition: 0.25s all ease;
	}

	opacity: 0;
	font-style: normal;
	font-family: $font-heading;
	padding: $size-sml $size-h4;
	font-size: $size-sml;
	
	@include bp(sm) {
		font-size: $size-base;
		margin: 0;
	}
	
	@include bp(md) {
	    padding: $size-h3;
		font-size: $size-h3;
	}
	
	margin: $size-base 0; 
	@include upperspace;

	&:before {
		content: "\201C";
	}

	&:after {
		content: "\201D";
	}
}


// Images section

.archive-images {
	position: relative;
	z-index: $z-mid;
	pointer-events: none;
	padding-top: 90vh;
	
	img {
		display: block;
		width: 100%;
	}
	
}


// Inspiration Images

.archive-images-inner {
	
	@include bp(sm) {
		@include grid($guttered: false);
	}

	margin: 0;
}

.archive-images-inspiration.-first,
.archive-images-featured {

	@include bp(sm) {
		@include cell($size: half, $guttered: false);
		align-self: flex-end;
	}	
}

.archive-images-inspiration.-second {
	width: 100%;
	.gallery {
		@include bp(sm) {
			@include cell(half, $guttered: false);
			margin: 0 auto;
		}
	}
}

.archive-images-inspiration.-last {
	background-color: $color-body-bkgd;
	margin-bottom: -$size-h3;
}

// Archive Sidebar

.archive-sidebar {
	order: 1;
}
