
// ----
// All Collections Banner
// ----

.banner {
	height: 85vh;
	width: 100%;
	padding: $size-h3;
	background-size: cover;
    background-image: url(../img/util/trees-sml.png);
	color: $color-rotate-text;	
	text-align: center;

	@include bp(md) {
		background-image: url(../img/util/trees-med.png);
	}

	@include bp(lg) {
		background-image: url(../img/util/trees-large.png);
	}

	svg {
		fill: white;
	}

}

.banner-wrap {
	align-self: center;
	max-width: $screen-sm;
	padding-top: 10vh;
}

.banner-border {
	@include grid($guttered: false);
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 1px solid $color-accent-med;
	padding-bottom: $size-sml;
}

.banner-title {
	margin-top: 0;
	@include detail-title($border_pos: false, $size: $size-sml);
	font-family: $font-heading;
}

.banner-tagline {
	@include detail-text;
}

.banner-logos {
	margin-bottom: $size-h4;
	
	svg {
		display: block;
		margin: 0 auto;
	}

	.wordmark {
		max-width: 10vh;
		display: block;
	}

	.logo {
		max-width: 30vh;
	}
}

.banner-prompt {
	// position: absolute;
	// bottom: 0;
	// width: 100%;
	@include cell(full);
	align-self: flex-end;
	// text-align: center;

	.icon {
		width: $size-base;
		height: $size-base;
	}
}

.banner-prompt-text {
	@include detail-compliment;
	margin-bottom: 0;
}
