
// Footer

.footer {
	&.-site {
		background-color: $color-rotate-bkgd;
		margin-top: $size-h1;
	}
}

.footer-wrap {
	@include bp(md) { 
		@include grid;
	}
}

.footer-section {
	@include bp(md) {
		@include cell(half);
	}

	margin-top: $size-base;

	&.-left {
	}

	// &.-right {
	// 	border-left: 1px solid lighten($color-text-dark, 40%);
	// 	padding-left: $size-base;
	// }
}


.colophon, 
.credits {
	display: inline-block;
	@include meta($color-rotate-text);

	a {
		color: $color-accent-light;
		text-decoration: underline;

		&:hover {
			color: darken($color-accent-light, 20%);
		}
	}
}

