
// Footer

.footer {
	&.-site {
		background-color: $color-rotate-bkgd;
		margin-top: $size-h1;
		position: relative;
		z-index: $z-top;
	}
}

.footer-wrap {
	@include bp(md) { 
		@include grid;
	}
}

.footer-section {
	@include bp(md) {
		@include cell(half);
	}

	margin-top: $size-base;

}

.colophon, 
.credits,
.credits p {
	display: inline-block;
	color: $color-accent-light;
	font-size: $size-xsml;

	a {
		color: $color-accent-light;
		text-decoration: underline;

		&:hover {
			color: darken($color-accent-light, 20%);
		}
	}
}

