.gallery {

	&.-inspiration {
		@include grid($guttered: false);
	}

	&.-block {

		@include bp(sm) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
	}
}

.gallery-thumb {

	&.-block {
		padding: $size-xsml;
		// @include center;

		img {
			// Boo.
			@include bp(sm) {
				height: 45vh;
			}

			@include bp(md) {
				height: 57vh;
			}

			@include bp(lg) {
				height: 70vh;
			}
		}
	}

	&.-inspiration {
		@include cell($size: half, $guttered: false);
		img {
			width: 100%;
		}
	}

}

.thumb-credit {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: $size-xsml;
	color: $color-text-med;
	padding: $size-xsml $size-xsml 0 $size-xsml;
}

.thumb-credit-link {
	color: $color-text-med;
}

// Hover effect on Inspiration gallery and Collection image in Collections Archive

.archive-images .gallery-thumb {
	pointer-events: auto;
	position: relative;
	margin: 0;
}

.thumb-caption {

	&.-hoverable {
		opacity: 0;
		position: absolute;
		background-color: rgba($color-rotate-bkgd, 0.8);
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		padding: $size-h3;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	&.-collection {
		@include bp(lg) {
			font-size: $size-h3;
		}
	}
}

.thumb-caption-link {
	color: $color-rotate-text;
	font-weight: $font-weight-strong;
	line-height: 1.2;
	@include upperspace;

	&:hover {
		color: $color-rotate-text;
	}
}


// Text Image block

.image-row {
	margin-bottom: $gutter;
	&.-double {
		@include bp(sm) {
			@include grid;
		}
	}
}

.image-wrap {

	&.-single img {
		width: 100%;
	}

	&.-double {
		@include bp(sm) {
			@include cell(half);
		}
	}
}