.gallery {

	&.-inspiration {
		@include grid($guttered: false);
	}

	&.-block {
		@include bp(sm) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
	}
}

.gallery-thumb {	

	// &.-piece,
	// &.-collection,
	// &.-project {
	// 	@include cell(half);
	// }

	&.-block {
		padding: $size-xsml;
		@include center;

		// width: 100%;
		// height: auto;

		img {
			@include bp(sm) {
				// max-width: 100%;
				// width: auto;
				height: 70vh;
			}
		}
	}

	&.-inspiration {
		@include cell($size: half, $guttered: false);
		img {
			width: 100%;
		}
	}
	
}