.gallery {

	&.-inspiration {
		@include grid($guttered: false);
	}

	&.-block {
		
		@include bp(sm) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
	}
}

.gallery-thumb {	

	&.-block {
		padding: $size-xsml;
		// @include center;

		img {
			// Boo.
			@include bp(sm) {
				height: 45vh;
			}

			@include bp(md) {
				height: 57vh;
			}

			@include bp(lg) {
				height: 70vh;
			}
		}
	}

	&.-inspiration {
		@include cell($size: half, $guttered: false);
		img {
			width: 100%;
		}
	}
	
}


// Hover effect on Inspiration gallery and Collection image in Collections Archive

.archive-images .gallery-thumb {
	pointer-events: auto;
	position: relative;
	margin: 0;
}

.thumb-caption {

	&.-hoverable {
		opacity: 0;
		position: absolute;
		background-color: rgba($color-rotate-bkgd, 0.8);
		color: $color-rotate-text;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;	
		padding: $size-h3;
		@include upperspace;
		font-weight: $font-weight-strong;
		line-height: 1.2;


		text-align: center;	
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&.-collection {
		@include bp(lg) {
			font-size: $size-h3;
		}
	}
}
