
.header {
	&.-site {
		background-color: rgba($color-rotate-bkgd, 1);
		position: relative;
		width: 100%;
		z-index: $z-top;
	}
}

.title {
	&.-page {
		text-align: center;
	}
}

.header-picture {
	@include center;
}