
.header {
	&.-site {
		background-color: rgba($color-rotate-bkgd, 1);
		position: relative;
		width: 100%;
		z-index: $z-top;
		top: 0;
	}
}

.title {
	&.-page {
		text-align: center;
	}
}

.header-picture {
	display: block;
	text-align: center;
}

.logo-wrap {
	@include cell;
}

.logo-text-logo {
	padding-top: $size-h3;
	margin: 0 auto;
	// height: $size-h1*2;
	max-width: 100%; 
	@include header-animate;
	
	.shrunk & {
		transform: scale(0);
	}

	@include bp(sm) {

	}

}

.shrunk {
	.logo-text-logo {
		will-change: transform;
	}

	.logo-link {
	}
}

