.header {
	&.-site {
		background-color: rgba($color-rotate-bkgd, 1);
		position: relative;
		width: 100%;
		// z-index: 101;
		// transform: translateZ(0);
	}

	&.-page {
		padding-top: $size-h4;
	}
}

.title {
	&.-page,
	&.-post {
		text-align: center;
		font-size: $size-h2;

		@include bp(sm) {
			font-size: $size-h1;
		}
	}
}

.header-picture {
	@include center;
	width: 100%;
}

.logo-text-logo {
	width: $size-h1*4;
	padding: $size-xsml;
	display: block;
	margin: 0 auto;

	@include bp(sm) {
		width: auto;
		max-width: $size-h1*5;
	}
}

