.home-section {
	text-align: center;

	&.-about {
		max-width: $screen-xl;
		margin: 0 auto;
	}

	@include bp(md) {
		display: flex;
		flex-flow: row;
		flex-basis: 90%;
		align-items: center;
	}

	&.-collections {
		position: relative;
		color: $color-rotate-text;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		@include bp(md) {

			&:before {
				content: "";
				display: block;
				background-color: $color-rotate-bkgd;
				position: absolute;
				left: 50%;
				right: 0;
				top: 0;
				bottom: 0;
			}
		}
	}

	&.-slider {
		margin-top: $size-base;
		margin-bottom: $size-h3;
	}
}

// Should combine with above
.home-section-inner {
	max-width: $screen-xl;
	margin: 0 auto;
	@include bp(md) {
		display: flex;
		flex-flow: row;
		flex-basis: 90%;
		align-items: center;
	}
}

.home-section-text {
	padding: 0 $size-h3 $size-h3 $size-h3;
	position: relative;

	&.-collections {
		background: $color-rotate-bkgd;
	}

	@include bp(sm) {
		padding: $size-h1;
	}
}

.home-section-img {
	&.-about {
		padding: 4% 8%;
	}
}

.home-section-text,
.home-section-img {
	@include bp(md) {
		@include cell(half, $is_first: false);
	}
}

.about-image {
	padding: $size-base;
}

.home-img {
	&.-collections {
		height: 50vh;
		color: $color-rotate-text;	
		text-align: center;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.wordmark {
		width: 15%;
		fill: #fff;
	}
	.logo {
		width: 50%;
		fill: #fff;
	}

}

.home-section-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: $z-top;
	transform: translateZ(0);
	padding: 0 $size-h3 $size-h3 $size-h3;

	@include bp(sm) {
		padding: $size-h1;
	}

	&.-about {
		padding: $size-h1;
	}
}

.home-link {
	@include detail-title($border_pos: false, $size: $size-sml);
	font-family: $font-heading;

	&.-collections {
		@include restyle-link($default: $color-rotate-text, $hover: $color-accent-light);
	}

	&.-about {
		@include restyle-link($default: $color-body-text, $hover: $color-text-med);
	}
}

.home-quote {
	&.-about {
		@include header-fancy-meta($color: $color-body-text);
		@include bp(md) {
			font-size: $size-h3;
		}
	}

	&.-collections {
		@include header-fancy-meta($color: $color-rotate-text);
		@include bp(md) {
			font-size: $size-h4;
		}
	}
}

.social-list {
	&.-about {
		justify-content: center;

		svg {
			fill: $color-body-text;
			&:hover {
				fill: $color-accent-med;
			}
		}
	}
}