

// Navigation

.nav {
	&.-site {
		@include contain(lg);
	}
}

.nav-list {
	@include unstyle-list;
	text-align: center;

	// Logic for opening/closing nav
	max-height: 0;
	overflow: hidden;
	
	@include bp(md) {
		padding-top: 0;
		max-height: none;
	}
	
	transition: all 0.5s ease;

	&.open {
		padding-top: $size-base;
		max-height: $screen-sm;
	}
	
	&.-site {
		margin-top: 0;
		@include bp(md) { 
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}

#navOpenLink {
	text-align: center;
	display: block;

	@include bp(md) {
		display: none;
	}
}

.nav-item {
	font-family: $font-nav;
	&.-site {
		@include bp(md) { 
			flex: 1; 
			text-align: center;
		}
	}
}

.nav-item-link,
.subnav-item-link {	
	font-size: $size-sml;
	@include upperspace;
	color: $color-rotate-text;	
	&:hover,
	&:focus {
		color: $color-accent-light;
	}
}
	
.has-subnav 
.icon-arrow-down {
	display: inline-block;
	position: relative;
	top: $size-xsml/2; // Meh.
	fill: $color-accent-med;
}

.subnav-list {
	@include unstyle-list;
	overflow: hidden;

	@include bp(md) {
		position: absolute;
		background-color: $color-accent-med;
		margin-top: $size-sml;
	}
	
	&.-site {
		max-height: 0;

		.has-subnav.open & {
			max-height: none;
		}
	}
}

.subnav-item {
	@include bp(md) {
		padding: $size-sml;
		text-align: left;
	}
}
