
// Navigation

.nav {
	&.-site {
	}

	// Search and Cart nav in header
	&.-util {
		@include bp(md) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}

// Main nav component
.nav-list {
	@include unstyle-list;
	text-align: center;
	margin: 0;

	// Logic for opening/closing nav
	max-height: 0;
	overflow: hidden;
	
	@include bp(md) {
		padding-top: $size-base;
		max-height: none;
	}
	
	&.open {
		padding-top: $size-base;
		max-height: none;
	}
}

#navOpenLink {
	@include restyle-link($default: $color-rotate-text, $hover: $color-accent-light);
	text-align: center;
	display: block;
	padding-top: $size-xsml;
	padding-bottom: $size-xsml;

	@include bp(md) {
		display: none;
	}

	&.open:after {
		padding-right: $size-xsml;
		// TODO: Replace with icon
		content: 'X';
	}
}

.nav-item {
	text-align: center;

	@include bp(md) {
		display: inline-block;
		text-align: center;
	}

	// .shrunk & {
	// 	padding-top: 0;
	// }
}


.nav-item-link,
.subnav-item-link {
	font-family: $font-nav;
	padding: $size-base;
	@include restyle-link($default: $color-rotate-text, $hover: $color-accent-light);
	display: block;
}


.nav-item-link,
.subnav-item-title {
	@include detail-title($border-pos: false);
	font-size: $size-sml;
}

.has-subnav:hover {
	.subnav-wrapper {

	// &:hover {
		// @include header-animate;
		// max-height: none;
		// opacity: 1;
		// overflow: visible;	
	// }
	}
}

.subnav-wrapper {
	display: block;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	z-index: $z-top;
	background-color: lighten($color-rotate-bkgd, 8%);
	@include header-animate;
	
	&.active {
		max-height: none;
		opacity: 1;
		overflow: visible;		
	}

	@include bp(md) {
		position: absolute;
		transform: translateZ(0);
		width: 100%;
		left: 0;
		right: 0;
		margin-top: -2px; // Hack to remove whitespace below main nav
	}

}

.subnav-list {
	@include unstyle-list;

	&.-mega {
		text-align: left;
	    display: flex;
	    flex-flow: wrap;
	    // @include grid;
	    max-width: $screen-md;
		margin: 0 auto;
	}
}

// Show subnav when hovered over

.subnav-item {
	&.-mega {
		text-align: left;
		
		@include bp(sm) { 
			@include cell(half); 
		}

		@include bp(lg) { 
			padding-top: $size-base;
			@include cell(third, $is_first: false); 
		}
	}

	&.-reg {
		text-align: center;
	}

}

.subnav-item-inner {
	&.-mega {
		@include grid;
	}
}
	
.subnav-item-part {	
	@include cell();
	
	&.-first {
		@include cell($size: fourth, $is_first: false);
		@include bp(md) {
			@include cell($size: third, $is_first: false);
 		}
	}
}

.subnav-item-desc {
	@include meta();
	font-family: $font-body;
}
