

// Navigation

.nav {
	&.-site {
	}

	&.-util {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.nav-list {
	@include unstyle-list;
	text-align: center;
	
	// Logic for opening/closing nav
	max-height: 0;
	overflow: hidden;
	
	@include bp(md) {
		padding-top: 0;
		max-height: none;
	}
	
	transition: all 0.5s ease;

	&.open {
		padding-top: $size-base;
		max-height: $screen-sm;
	}
	
	&.-site {
		margin-top: 0;
		margin-bottom: 0;
	}
}

#navOpenLink {
	text-align: center;
	display: block;
	padding-top: $size-xsml;
	padding-bottom: $size-xsml;

	@include bp(md) {
		display: none;
	}
}

.nav-item {
	@include header-animate;

	@include bp(md) {
		display: inline-block;
		text-align: center;
	}

	.shrunk & {
		padding-top: 0;
	}
}

.nav-item,
.subnav-item {
	font-family: $font-nav;
	padding: $size-sml $size-base;
}


.nav-item-link,
.subnav-item-link {	
	@include upperspace;
	font-size: $size-sml;
	color: $color-rotate-text;	
	
	&:hover,
	&:focus {
		color: $color-accent-light;
	}
}

.has-subnav 
.icon-arrow-down {
	display: inline-block;
	position: relative;
	top: $size-xsml/2; // Meh.
	fill: $color-accent-med;
}

.subnav-wrapper {	
	@include bp(md) {
		text-align: left;
		position: absolute;
		transform: translateZ(0);
		width: 100%;
		left: 0;
		top: 100%;
		background-color: lighten($color-rotate-bkgd, 8%);
	}
}

.subnav-list {
	@include unstyle-list;
	overflow: hidden;
	
	@include bp(md) {
		margin-top: $size-sml;
	}
	
	&.-site {
		max-height: 0;
		opacity: 0;
	    @include grid;
	    max-width: $screen-xl;
	    margin: 0 auto;
	    @include header-animate;
	}
	
	// Show subnav when hovered over
	.has-subnav:hover & {	
		max-height: $screen-sm;
		opacity: 1;
		overflow: visible;
	}
}

.subnav-item {
	@include cell(full);
	padding-top: $size-base;

	img {
		@include cell(third);
	}

	@include bp(md) { 
		@include cell(half, $is_first: false); 
	}

	@include bp(lg) { 
		@include cell(third, $is_first: false); 
		img {
			@include cell(third);
		}
	}
}


