
// Singles

.single-title {
	&.-piece {
		@include upperspace;
		font-size: $size-h4;
		margin-top: 0;
	}
}

.single-title-compliment {
	&.-piece {
		font-family: $font-heading;
		font-style: italic;
		margin: 0;
		font-size: $size-sml;
	}
}

.single-sidebar-text {
	@include detail-text;
}

.single-sidebar-list {
	@include detail-text;
	@include unstyle-list;

	p {
		margin: 0;
	}
}

.single-sidebar-sublist {
	@include unstyle-list;
}

.single-sidebar-title {
	@include detail-title(top);
}

.single-sidebar-swatch {
	
	img {
		width: 1.5rem;
		margin-right: .5rem;
		float: left;
	}

	p {
		padding-left: 2rem;
	}
}

.single-footer-title {
	@include detail-title(bottom);
}