
// Singles

.single-title {
	&.-piece {
		@include upperspace;
		font-size: $size-h4;
		margin-top: 0;
	}
}

.single-title-compliment {
	&.-piece {
		font-family: $font-heading;
		font-style: italic;
		margin: 0;
		font-size: $size-sml;
	}
}

.single-meta {
	text-align: center;

	p {
		@extend h4;
		font-style: italic;
		color: $color-accent-med;
	}
}

.single-sidebar-text {
	@include detail-text;
}

.single-sidebar-list {
	@include detail-text;
	@include unstyle-list;

	p {
		margin: 0;
	}
}

.single-sidebar-title {
	@include detail-title(top);
}

.single-sidebar-sublist {
	@include unstyle-list;
}

.single-sidebar-sublist-item {
	display: inline;

	&:after {
		content: ", ";
	}

	&:last-child {
		&:after {
			content: none;
		}
	}
}

.single-sidebar-swatch {
	
	img {
		width: 1.5rem;
		margin-right: .5rem;
		float: left;
	}

	p {
		padding-left: 2rem;
	}
}

.single-footer-title {
	@include detail-title(bottom);
}


// Single Piece

.magnify {
	max-width: 100%;
}

.piece-images {
	order: 0;
	@include grid;
	@include cell;
}

.piece-thumbs {
	order: 1;
	
	@include bp(md) {
		order: 0;
		@include cell($size: sixth);
	}
}

.piece-image {
	width: 100%;

	@include bp(md) {
		order: 1;
	}

	@include bp(md) {
		flex: 0 0 calc(100% / 6 * 5);
	    max-width: calc(100% / 6 * 5);
	}
}

.piece-thumb-wrap {
	padding-right: $size-base;
	float: left;
	width: 33%;

	@include bp(md) {
		padding: 0;	
		width: 100%;
	}
}

.piece-thumb {
	opacity: 0.5;
	cursor: pointer;

	&.active,
	&:hover {
		opacity: 1;
	}
}

