
// ----
// Base styles
// ----

* {
	box-sizing: border-box;
}

body {
	word-wrap: break-word;
	
	@include bp(sm) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
}

.main {
	@include bp(md) {
		padding: $size-h1*4 0 $size-h1;
	}
}