
// ----
// Base styles
// ----

* {
	box-sizing: border-box;
}

body {
	word-wrap: break-word;
	
	@include bp(sm) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
}

.main {
	padding: $size-h2 0 $size-h1;
}