

// Slider

.slider {

	&.-full {	
		background-color: $color-accent-light;
	}
}

.slider-cell {
  width: 85%;
  // height: 200px;
  margin-right: 10px;
  background: #333;
}

.slider-img {
	height: 300px;
	margin-right: $size-xsml/2;
	
	@include bp(sm) {
		height: 500px;
	}

	@include bp(lg) {
		height: 80vh;
	}

	// display: block;
  	// transition: opacity 0.4s;
  	// opacity: 0;
}

// .slider-img.flickity-lazyloaded,
// .slider-img.flickity-lazyerror {
//   opacity: 1;
// }

// Related pieces slider thumb cells
.thumb {
	padding-top: $size-h3;
	width: 75%;
	
	@include bp(sm) {
		width: 40%;
	}

	@include bp(lg) {
		width: 20%;
	}

	img {
		width: 100%;
	}
}

// .flickity-prev-next-button.previous {
// 	@include bp(lg) {
// 		left: -44px;
// 	}
// }

// .flickity-prev-next-button.next {
// 	@include bp(lg) {
// 		right: -44px;
// 	}
// }