

// Slider

.slider {

	&.-full {
		height: auto;	
		
		@include bp(sm) {
			height: 60vh;
		}

		@include bp(md) {
			height: 90vh;
		}
	}
}

.slider-cell {
	height: auto;
	// margin-right: 10px;
	// padding: 5px;
	// width: 85%;
	overflow: hidden;
	height: 100%;

	&.-full {
		width: 100%;
		
		@include bp(md) {
		}
	  	// counter-increment: gallery-cell;
	  	// margin-left: 10px;
	  	// padding-top: $size-h2;

	  	// background-size: cover; 
	  	// background-repeat: no-repeat; 
	  	// background-position: center center;
	}

	@include bp(md) {
		// width: 70%;
	}

	img {
		position: relative;
		z-index: $z-mid;
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}

// Related pieces slider thumb cells
.thumb {
	width: 50%;
	
	@include bp(sm) {
		width: 40%;
	}

	@include bp(lg) {
		width: 20%;
	}

	@include bp(xl) {
		// width: 12.5%;
	}

	img {
		width: 100%;
	}
}

.flickity-prev-next-button.previous {
	@include bp(md) {
		left: -44px;
	}
}

.flickity-prev-next-button.next {
	@include bp(md) {
		right: -44px;
	}
}