

// Flickity Slider

.gallery-cell-image {
	display: block;
	height: 40vh;
	
	@include bp(md) {
		height: 50vh;
	}

	@include bp(lg) {
		height: 60vh;
	}
	
	@include bp(xl) {
		height: 70vh;
	}
	
	min-width: 100px;
	max-width: none;
	opacity: 0;
	transition: opacity 0.4s;
	margin-left: $size-xsml/2;
}

.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}


// Related pieces slider thumb cells. Loaded with Lazysizes.

.thumb {
	padding-top: $size-h3;
	width: 75%;
	
	@include bp(sm) {
		width: 40%;
	}

	@include bp(lg) {
		width: 25%;
	}

	img {
		width: 100%;
	}
}
