.spotlight {
	background-color: $color-rotate-bkgd;
	text-align: center;
}

.spotlight-title {
	color: $color-rotate-text;
	margin-top: 0;
	padding-top: $size-h4;
	padding-bottom: $size-h4;
	line-height: 1;
}

.spotlight-title-compliment {
	@include detail-compliment($size: $size-base);
	display: block;
}

.spotlight-title-main {
	font-size: $size-h4;
	@include upperspace;
}

.spotlight-tabs {
	@include unstyle-list;
}

.spotlight-tab {
	// opacity: 0;
	// width: 0;
	// height: 0;
	padding-bottom: $size-sml;
	border-bottom: 1px solid $color-accent-light;

	& > a {
		@include restyle-link($default: $color-rotate-text, $hover: $color-accent-light);
	}

	&.active {
		// opacity: 1;
		// width: auto;
		// height: auto;
		color: $color-accent-light;
	}
}

.spotlight-nav {
	position: relative;
}

.spotlight-main {
	position: relative;
	// height: 60vh;

	// position: absolute;
	width: 100%;
	transition: 0.25s all ease;
	// top: 0;
	// left: 0;
	overflow: hidden;

	img {
		display: block;
		margin: 0 auto;
		// max-width: none;
		width: 100%;
		// height: 100%;
	}

}
.spotlight-tab-content {
	height: 100%;
}

.spotlight-sidebar-compliment {
	font-size: $size-xsml;
	@include upperspace;
	margin-bottom: $size-xsml/2;
}

.spotlight-sidebar-title {
	@include detail-title($border-pos: false, $size: $size-sml);
	margin-top: 0;
}
