.spotlight {
	background-color: $color-rotate-bkgd;
	text-align: center;
	padding-bottom: $size-h4;
	padding-top: $size-h4;
}

.spotlight-title {
	border-top: 1px solid $color-accent-light;

	@include bp(md) {
		border-top: none;
	} 

	color: $color-rotate-text;
	margin-top: 0;
	padding-top: $size-h4;
	padding-bottom: $size-h4;
	line-height: 0.8;
}

.spotlight-title-compliment {
	@include detail-compliment($size: $size-base);
	display: block;
}

.spotlight-title-main {
	font-size: $size-h4;
	@include upperspace;
}

.spotlight-tabs {
	@include unstyle-list;
}

.spotlight-tab {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	padding-bottom: $size-sml;

	@include bp(lg) {
		border-bottom: 1px solid $color-accent-light;
		position: relative;
		opacity: 1;
		width: auto;
		height: auto;
	}

	& > a {
		@include restyle-link($default: $color-rotate-text, $hover: $color-accent-light);
	}

	&.active {
		position: relative;
		opacity: 1;
		width: auto;
		height: auto;
		color: $color-accent-light;
	}

	&:last-child {
		@include bp(lg) {
			border-bottom: none;
		}
	}
}

.spotlight-wrap {

	// All kinds of shameful min-height values... **shudder**

	min-height: 320px;

	@include bp(sm) {
		min-height: 420px;
	}

	@include bp(md) {
		min-height: 530px;
	}

	@include bp(lg) {
		min-height: 480px;
		display: flex;
	}

	@include bp(xl) {
		min-height: 600px;
	}
}

.spotlight-header {
	// Bad to hide and show this, but too bad.	
	
	&.-small {
		@include bp(lg) {	
			display: none;
		}
	}

	&.-large {
		display: none;
		@include bp(lg) {	
			display: block;
		}
	}
}

.spotlight-nav {

	position: relative;

	@include bp(lg) {	
		order: 2;
	}
}

.spotlight-prev,
.spotlight-next, {
	z-index: 100;

	@include bp(lg) {
		display: none;
	}

	svg {
		fill: $color-rotate-text;
	}
}

.spotlight-main {
	position: relative;

	@include bp(lg) {	
		order: 0;
	}
	
	width: 100%;
	transition: 0.25s all ease;

	overflow: hidden;

	img {
		display: block;
		width: 100%;
		margin: 0 auto;

		@include bp(lg) {
			width: 90%;
		}
	}
}

.spotlight-img {
	opacity: 0;
}

.spotlight-tab-content {
	position: absolute;
	left: 0;
	width: 100%;
}

.spotlight-sidebar-compliment {
	font-size: $size-xsml;
	@include upperspace;
	margin-bottom: $size-xsml/2;
}

.spotlight-sidebar-title {
	@include detail-title($border-pos: false, $size: $size-sml);
	margin-top: 0;
}
