
// Teases

.tease {
	&.-piece, 
	&.-project,
	&.-post,
	&.-page {
		@include cell(half);
		padding: $size-base;
		@include bp(md) { 
			@include cell(third, $is_first: false); 
			padding: $gutter;
		}
	}
}

.tease-title {
	&.-piece,
	&.-page,
	&.-project,
	&.-post,
	&.-collection {
		font-size: $size-xsml;
		color: $color-text-dark;
		@include upperspace;
		@include border-fancy;

		@include bp(sm) {
			font-size: $size-sml;
			//margin: 0 $size-base;
		}
	}
}

.tease-img {

	@include bp(md) {
		transform: translateZ(0);
		&:hover {
			opacity: 0.5;
			transition: 0.3s ease all;
		}

		&:active {
			opacity: 1;
			transition: 0.3s ease all;
		}
	}
}

.tease-info {
	&.-piece, 
	&.-project, 
	&.-post {
		text-align: center;
	}
}