
// Teases

.tease {
	padding: $size-base;

	&.-piece,
	&.-page {
		@include cell(half);
		@include bp(md) { 
			@include cell(third, $is_first: false); 
			padding: $gutter;
		}
	}

	&.-post,
	&.-project {
		@include bp(sm) {
			@include cell(half); 
		}

		@include bp(xl) { 
			@include cell(third);
		}	
	}

	&.-piece {
		padding-bottom: $size-h3;
	}

	// Located in Archive Footer (collection tax)
	&.-collection {
		@include cell(half);
		padding-bottom: $size-h3;
		@include bp(md) {
			@include cell(fourth);
		}
	}
}

.tease-title {
	&.-piece,
	&.-page,
	&.-project,
	&.-post,
	&.-collection {
		@include detail-title($border-pos: false);

		@include bp(sm) {
			font-size: $size-sml;
		}
	}
}

.tease-img {

	@include bp(md) {
		transform: translateZ(0);
		&:hover {
			opacity: 0.5;
			transition: 0.3s ease all;
		}

		&:active {
			opacity: 1;
			transition: 0.3s ease all;
		}
	}
	
	width: 100%;
	// &.-post {
	// 	@include cell(third);
	// }
}

.tease-info {
	&.-piece, 
	&.-project {
		text-align: center;
	}
}

.tease-meta {
	@include meta($color-text-med);
}

.tease-meta-link {
	background-color: $color-accent-vlight;
	color: $color-text-dark;
	padding: $size-xsml/2 $size-xsml;
	// font-style: italic;

	&:hover {
		// background-color: $color-accent-med;
	}
}

