

// Titles

.title {
	&.-site {
		margin-top: 0;
		text-align: center;

		a {
			font-weight: 100;
			font-size: $size-h3;
			text-transform: uppercase;
			color: $color-rotate-text;
		}
	}

	&.-page {
		@include border-fancy-bottom;
	}
}
