{% extends 'index.twig' %}

{% block before_content %}
	{% include 'headers/_header-archive.twig' with { class : '-archive' } %}
{% endblock %}

{% block content %}
	<div class="contain--lg">
		<div class="archive -{{type}}">
			{% for post in posts %}
				{% set post = TimberPost(post) %}
				{% include ['teases/_tease-'~post.post_type~'.twig', 'teases/tease.twig'] with { class: 'teaser lazyload' } %}
			{% endfor %}
		</div>
	</div> 
{% endblock %}