{% extends 'base.twig' %}

{% block before_content %}
	{% include 'headers/_header-archive.twig' with { class : '-archive' } %}
{% endblock %}

{% block content %}

	<div class="contain--xl">
		<div class="grid">
			<div class="archive-main -has-sidebar">
				{% for post in posts %}
					{% set post = TimberPost(post) %}
					{% include ['teases/_tease-'~post.post_type~'.twig', 'teases/tease.twig'] %}
				{% endfor %}
			</div>
			<div class="archive-sidebar">
				{{sidebar}}
			</div>
		</div>	
	</div>
	
{% endblock %}