{% extends 'archives/taxonomy.twig' %}

{% block before_content %}
	{% include 'headers/_header-collection.twig' with { h_class: '-collection' } %}
{% endblock %}


{% block content %}

		{# TODO: remove grid classes in production #}
	<div class="contain--lg">
		<div class="grid">
			{% for post in posts %}
				{% include 'teases/_tease-' ~ post.post_type ~ '.twig' with { class: 'cell--half' } %}
			{% endfor %}
		</div>
	</div>
	<div class="contain--md">
		{% for block in term.blocks %}
			{% include 'blocks/block-logic.twig' %}
		{% endfor %}
	</div>
{% endblock %}