{% extends "blocks/block.twig" %}

{% block content %}
	<div class="contain--lg">
		{% if block.block_heading %}
			<h4>{{block.block_heading}}</h4>
		{% endif %}
		{{block.block_text}}
	</div>
{% endblock %}
