{% extends "base.twig" %}

{% block before_content %}
	{% include 'headers/_header-page.twig' with { class: '-page' } %}
{% endblock %}

{% block content %}

	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}

	<section class="contain--md">
		<header id="wishListHeader">
			<h3 id="wishListTitle">{{post.no_items_title}}</h3>
			<p id="wishListPrompt">{{post.no_items_prompt}}</p>
		</header>
		<table id="wishListItems">
		  <tr>
			<th>Collection</th>				
		    <th>Item</th>				
			<th>Quantity</th>				
		  </tr>
		  {# Items in Wish List printed here #}
		</table>
		<div id="saveChanges" class="save-changes">
			<button id="saveChangesBtn" class="btn -submit">Save Changes</button>
		</div>
		{{form}}
	</section>


{% endblock %}
