{% extends 'footers/footer.twig' %}

{% block footer_content %}
	<div class="slider">
		{% for post in pieces %}
			{% include 'teases/_tease-' ~ post.post_type ~ '.twig' with { class: 'cell--half' } %}
		{% endfor %}
	</div>
{% endblock %}