{% extends 'footers/footer.twig' %}

{% block footer_content %}
	<div class="contain--xl">
		<div class="footer-wrap">
			<div class="footer-section -left">
				{{footer_left}}
			</div>
			<div class="footer-section -right">
				{{footer_right}}
			</div>
		</div>
		{% include 'site-options/site-colophon.twig' %}
	</div>
{% endblock %}